/* --cabeçalho border-radius: 15px; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #cbfccb;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
}


header{
    color: #ffffff;
    background-color: #006400;
    width: 100%;
}
.itens_cabecalho{
    display: flex;
    gap: 10px;
    align-items: center;
}

.itens_cabecalho a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px;
    margin: 7px;
    transition: all 1.0s;
    border-radius: 15px;
    text-align: center;
}
.itens_cabecalho a:hover{
    background-color: #7FA653;
}
#menu_principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  padding: 3px;
  flex-wrap: nowrap; 
  max-width: 100%;
}
#img_icone {
  width: 95px;
  height: 95px;
  object-fit: contain; 
  display: block; 
}

#div_img_icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
  flex: 1;
}

footer {
  background-color: #006400;
  color: white;
  text-align: center;
  padding: 1rem;
}

#rodape a {
  text-decoration: none;
  margin: 0 10px;
}

.conteudo-rodape a:hover
{  
  cursor: pointer;
}

.onu_body {
  font-family: "Segoe UI", sans-serif;
  background: #f2f6f9;
  margin: 0;
  padding: 30px;
  text-align: center;
  color: #333;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 25px;
}

#search {
  width: 60%;
  padding: 10px;
  margin-bottom: 25px;
  border: 2px solid #bbb;
  border-radius: 5px;
  font-size: 1em;
}

#ods-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.ods-card {
  color: white;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ods-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.ods-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}


#close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

#close:hover {
  color: #000;
}

.btn-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7FA653;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-home:hover {
    background-color: #7FA653;
}